.input_table {
    padding: 20px;
}

.input_table th,td {
    border: 1px black solid;
}

.input_table input[type="number"] {
    width: 50px;
}

.bg_red {
	background: lightcoral;
}

.bg_blue {
	background: lightskyblue;
}

.bg_green {
	background: lightgreen;
}

.bg_yellow {
	background: khaki;
}

.bg_purple {
	background: mediumpurple;
}

.btn_container {
	text-align: center;
	margin: 5px;
}

#teamlist li {
	margin: 5px 0px;
}